<!DOCTYPE html>
<html>
  <head>
    <title>CrowdFundingApp <%= yield(:title)%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<%= render '/layouts/nav'%>
  	</header>
  	<section>
  	
  		<div>
  			<p class="notice"><%= notice %></p>
  			<p class="alert"><%= alert %></p>
  		</div>

  		<%= yield %>
  	</section>
  	<div class= "clear"></div>
  	<footer>
  		<%= render '/layouts/footer'%>
  	</footer>
    
  </body>
</html>
